<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BullitinBoard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="row">
      <div class="col s6 m6">
        <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">B. Board</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/">MESSAGES</a></li>
            <li><a  href="login">LOGIN</a></li>
            <li><a  href="form">POST</a></li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col s12">
            <div id="statusmessage"><h1><%= status %></h1></div>

          <ul id="post_list"><% for(var i=0; i<posts.length; i++) {%>
            <li>
              <div class="card">
              <div class="card-content ">
                <span class="card-title">
                  <%= posts[i].title %></span>
                <p><%= posts[i].body %></p>
              </div>
              <div class="card-action">
                <a href="#"><%= posts[i].creator %></a>
              </div>
            </div></li>
              <% } %>
          </ul>
      <a class="btn-floating btn-large btn-add waves-effect waves-light green" href="form">+</a>

      </div>
    </div>
  </div>

</div>
</div>
</div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="script.js" charset="utf-8"></script>
</body>
</html>
