<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BullitinBoard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" href="stle.css">
  <script src="script.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Posts</h1>
      <ul id="post_list">

                <div class="col s12 m7">
           <h2 class="header">Horizontal Card</h2>
           <div class="card horizontal">
             <div class="card-image">
               <img src="http://lorempixel.com/100/190/nature/6">
             </div>
             <div class="card-stacked">
               <div class="card-content">
                 <p>I am a very simple card. I am good at containing small bits of information.</p>
               </div>
               <div class="card-action">
                 <a href="#">This is a link</a>
               </div>
             </div>
           </div>
         </div>
      </ul>
    </div>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light red" href="form.html"><i class="material-icons">add</i></a>

</body>
</html>
